<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>manageAppVersionAndBuildNumber</key>
	<true/>
	<key>method</key>
	<string>app-store-connect</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.rururu.lifebt</key>
		<string>match AppStore com.rururu.lifebt 1775142470</string>
		<key>com.rururu.lifebt.LifeBatteryWidget</key>
		<string>match AppStore com.rururu.lifebt.LifeBatteryWidget</string>
	</dict>
	<key>signingCertificate</key>
	<string>Apple Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>982WTPZFCF</string>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
