name: Flutter CI

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  flutter-test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Setup Flutter
        uses: ./.github/actions/setup-flutter
      - name: Run tests
        run: flutter test
  integration-test-android:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Setup Flutter
        uses: ./.github/actions/setup-flutter
      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm
      - name: Run integration tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 36
          arch: x86_64
          script: flutter test integration_test
  integration-test-ios:
    runs-on: macos-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Setup Flutter
        uses: ./.github/actions/setup-flutter
      - name: Start iOS simulator
        uses: futureware-tech/simulator-action@v4
        with:
          model: iPhone Air
          os_version: '>=26.2'
      - name: Run integration tests
        run: flutter test integration_test
  notify-slack:
    runs-on: ubuntu-latest
    needs: [flutter-test, integration-test-android, integration-test-ios]
    if: always()
    steps:
      - name: Notify CI result to Slack
        uses: slackapi/slack-github-action@v2.1.1
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          webhook-type: incoming-webhook
          payload: |
            {
              "text": "Unit Test ${{ needs.flutter-test.result == 'success' && '✅' || '❌' }}\nAndroid Integration Test ${{ needs.integration-test-android.result == 'success' && '✅' || '❌' }}\niOS Integration Test ${{ needs.integration-test-ios.result == 'success' && '✅' || '❌' }}"
            }
